<!DOCTYPE html>
<html>
  <head>
    <title>Account Page</title>
    <link rel='stylesheet' href='/stylesheets/account.css'>
  </head>
  <body>
    <h1>
        |Account Page
    </h1>
    <div>ID：#{id}</div>
    <div>Wallet Address：#{address}</div>
    <br>
    <a href="/guess">
      |Guess Page
    </a>
    
    <script src="/javascripts/account.js" type="text/javascript"></script>
  </body>
</html>
