<!DOCTYPE html>
<html>
  <head>
    <title>Last Draw Page</title>
    <link rel='stylesheet' href='/stylesheets/lastdraw.css'>
  </head>
  <body>
    <h1>
        |Last Draw Page
    </h1>
    <div>#{draw}</div>
    <div>#{balance}</div>
    <br>
    <a href="/guess">
      |Guess Page
    </a>
    
    <script src="/javascripts/lastdraw.js" type="text/javascript"></script>
  </body>
</html>
