<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/login.css'>
  </head>
  <body>
    <h1>
        |Login Page
    </h1>
    <form action="" method="post">
        <div>Account<div>
        <input type="text" id="id" name="user_id">
        <div>Password<div>
        <input type="text" id="pass" name="user_password">
        <input type="submit">
    </form>
    <p>
    </p>
    |#{id}
    |#{pass}
    

    <script src="/javascripts/login.js" type="text/javascript"></script>
  </body>
</html>
