<!DOCTYPE html>
<html>
  <head>
    <title>Register Page</title>
    <link rel='stylesheet' href='/stylesheets/register.css'>
  </head>
  <body>
    <h1>
        |Register Page
    </h1>
    <form action="" method="post">
        <div>Account</div>
        <input type="text" id="id" name="user_id">
        <div>Password</div>
        <input type="text" id="pass" name="user_password">
        <div>Address</div>
        <input type="text" id="account" name="user_account">
        <input type="submit">
    </form>
    <br>
    |#{success}
    <a href="/login">
      |Login Page
    </a>

    <script src="/javascripts/register.js" type="text/javascript"></script>
  </body>
</html>
